.page {
    /* background-color: #F2EAE6; */
    display: block;
    /* width: fit-content; */
    height: max-content;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
.image-container img {
    /* display: block; */
    width: 100%;
    height: auto;
    border-radius: 15px;
    vertical-align: middle;
  }
.top_content {
  height: auto;
  padding: 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.content .cont_text {
  width: calc(100% - 20px);
  line-height: 1.5;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background-color: #F2EAE6;
  border-radius: 15px;
  min-height: 300px;
  /* box-shadow:5px 5px 5px rgba(0,0,0,0.4); */
  position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: transparent; 
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
  }
.img-btn {
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #DE5A18; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    border-radius: 10px;
}
.about, .upcmn {
    margin-top: 10px;
    position: relative;
    background-color: #ffffff;
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: left;
    border: 1px solid;
}
.header__logo img {
	width: 171px;
	line-height: 50px;
  padding-left: 15px;
}
footer .footer_link {
	margin: 0 0 20px 0;
	padding: 20px 0;
	border-bottom: 5px #f1f2f5 solid;
}

footer .footer_policy {
	font-size: 0.9rem;
	float: left;
	display: flex;
}
@media (min-width: 360px) {
  section.ks_body .overlay-text {
    font-size: 14px;
    background-color: black;
  }
  section.ks_body .img-btn {
    font-size: 15px;
    left: 50%; 
    top: 85%; 
    /* transform: scale(0.9, 0.9); */
  }
}
img {
  vertical-align: middle;
}

.container {
  position: relative;
}
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

.slideImages {
  display: none;
  background-color: #333;
  padding: 5px;
}
.slideshow {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  margin-right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: none;
}
.prev::selection

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  overflow: auto;
}

.column {
  float: left;
  width: 20%;
}

.gallery {
  opacity: 0.6;
}

.active,
.gallery:hover {
  opacity: 1;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
div.past-sessions {
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 5px;
  max-height: 200px;
}
div.scroll-container::after {
  content: "";
  display: table;
  clear: both;
}

/* div.scroll-container img {
  padding: 5px;
} */